.cc-wrapper {
  display: flex;
  justify-content: center;
  .cc-container {
    display: flex;
    padding: 1rem;
    min-width: 100%;
    box-shadow: 0px 10px 14px 0px #ccc;
    .align-center {
      align-items: center;
    }
    .cc-content {
      h1,
      p {
        margin-bottom: 1rem;
      }
      img {
        max-width: 50%;
        height: fit-content;
      }
      @media screen and (max-width: 768px) {
        img {
          max-width: 100%;
        }
      }
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .flex-row {
      flex-direction: row;
    }
  }
}
