.login-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  .login-content {
    display: flex;
    .content-left,
    .content-right {
      flex-direction: column;
      margin: 0 auto;
    }
    .content-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .description {
        h1 {
          font-size: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
