<div class="login-wrapper">
  <div class="login-content container__row">
    <div class="content-left container__col-md-6">
      <div class="description">
        <h1>Login</h1>
        <p>Get access to your Orders,Wishlist and Recommendations</p>
      </div>
    </div>
    <div class="content-right container__col-md-6">
      <app-text-input type="text" name="Email"></app-text-input>
      <app-text-input type="password" name="Password"></app-text-input>
      <app-button-input name="Login"></app-button-input>
    </div>
  </div>
</div>
