.pl-wrapper {
  display: flex;
  justify-content: center;
  .pl-container {
    display: flex;
    .section-left {
      align-items: flex-start;
      .side-menu {
        list-style: none;
        width: 100%;
        .active-list {
          background: #d10154;
          color: white;
        }
        li {
          padding: 1rem;
          color: #888;
          border-bottom: 1px solid #e1d9d9;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
