<div class="register-wrapper">
  <div class="register-content container__row">
    <div class="content-left container__col-md-6">
      <div class="description">
        <h1>Signup</h1>
        <p>We do not share your personal details with anyone.</p>
      </div>
    </div>
    <div class="content-right container__col-md-6">
      <app-text-input type="text" name="First Name"></app-text-input>
      <app-text-input type="text" name="Last Name"></app-text-input>
      <app-text-input type="email" name="Email"></app-text-input>
      <app-text-input type="password" name="Password"></app-text-input>
      <app-text-input type="password" name="Confirm Password"></app-text-input>
      <app-button-input name="Signup"></app-button-input>
    </div>
  </div>
</div>
